.article {
  &__title {
    color: white;
    text-transform: uppercase;
    display: inline;
    font-size: 0.8rem;
    padding: 3px;
    background-color: $mainRed;
  }

  &__title--secondary {
    background-color: #de003e;
  }

  &__img {
    border: 3px solid #dfdfdf;
    width: 98%;
  }

  &__summary {
    margin: 0;
  }

  &__link {
    font-size: 0.9rem;
  }
}
