.primary-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* Do you only need to control the layout by row? use a flexbox */
    display: flex;
  }

  &__link {
    /* Displaying the links as block elements makes the whole link area
    clickable (not just the text), and it allows us to specify the width
    (padding, margin, hight etc. if you want */
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.8rem 1rem;
    background: $mainRed url("assets/images/divisor.png") no-repeat left center;

    &--no-background {
      background-image: none;
    }
  }

  &__link--active {
    background-color: $lightRed;
  }

  &__link:hover {
    color: #69001d;
  }
}
