.site-header {
  display: grid;
  grid-template-columns: repeat(12, 3.90625rem);
  grid-template-rows: repeat(4, 4.03125rem);

  &__logo {
    grid-column: 1/4;
    grid-row: 2;
    margin-top: -40px;
  }

  &__map {
    grid-column: 10/13;
    min-height: 179px;
  }

  &__nav-menu {
    grid-column: 1;
    grid-row: 3;
    margin-top: -8px;
  }
}
